.theme-light {
    --text-link: var(--brand-560);
}
.theme-dark {
    --text-link: var(--brand-430);
}





/*----------------------------------*/


@font-face {
    font-family: "Twemoji Mozilla";
    src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf")
        format("truetype");
    unicode-range: U+1F1E6-1F1FF;
}
@font-face {
    font-family: "dashless";
    size-adjust: 100%; /*adjust this to change word spacing*/
    src: url("https://vendicated.github.io/random-files/Dashless.woff2")
        format("woff2");
    unicode-range: U+002D;
}
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
[class^=autocompleteRowContent_] [class*=autocompleteRowHeading_], /* chat autocomplete */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_], /* inbox */
[class^=quickswitcher_] [class^=name_] /* ctrl+k */ {
    font-family: "Twemoji Mozilla", "dashless", var(--font-primary);
}
[class^="emptyChannelIcon_"] ~ [class*="description_"] > * {
    font-family: var(--font-primary);
}

[class^="imageWrapper_"] img[class^="lazyImg"] { object-fit: contain !important; }


/*===================================================================*/

.highlight {
    background: color-mix(in srgb, var(--brand-300) 50%, transparent);
}

.mouse-mode.full-motion [class^="message_"]:hover {
    background: none!important;
}

[class^="button_"]:hover {
    background: transparent;
}


[class^="menu_"], [class^="scroller_"], [class^="colorDefault_"][class*="focused_"],
[class^="modeSelected_"] [class^="link_"]:before,
[class^="wrapper_"]:hover [class^="link_"] {
    border-radius: 8px!important;
}

[class^="menu_"] div#message-tts {
    display: none;
}

[class^="separator_"], [class^="divider_"] {
    visibility: hidden;
}

[class^="mainCard_"] [class^="input_"] {background: none;}






[class^="button_"]:hover path, [class^="button_"]:hover path{
    fill: var(--interactive-hover)!important;
}
button[class^="button_"][class*="enabled_"]:hover,
span[class^="button_"][class*="enabled_"]:hover {
    background: transparent;
}
[class^="withTagAsButton_"]:hover, [class^="withTagless_"]:hover {
    color: var(--interactive-hover);
    background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
[class^="listRow_"]:hover {
        background: var(--bg-overlay-hover,var(--background-modifier-hover));
}


[class^="box_"] {
    background: var(--bg-overlay-3, var(--background-secondary));}
[class^="box_"]:after {
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    height:10px;
    width: 20px;
    position: absolute;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}


[class^="key_"] {
    background: var(--bg-overlay-6, var(--background-accent));;
}


[class^="headerChildren_"] {
        display: none !important;
}  /* I want to remove this fro here, but needs fixing for long server names */


.theme-dark [class^="container_"] {
    background: var(--bg-overlay-home,var(--home-background));
}
.theme-light [class^="container_"] {
    background: var(--bg-overlay-1,var(--home-background));
}

[class^="matchingPostsRow_"] {
    background: var(--bg-overlay-2, var(--background-secondary));
}

[class^="container_"][class*="clickable_"][class*="hasBanner_"][class*="bannerVisible_"] {
    z-index: 3;
}
[class^="animatedContainer_"] {
    z-index: 4;
}
header[class^="header_"] {
    z-index: 5;
}

[class^="hasBanner_"] [class^="header_"] {
    background: none!important;
}


[class^="bannerVisible_"] > [class^="header_"]{
    box-shadow: none!important;
}

[class^="divider_"]{
    visibility: hidden;
}

.theme-dark [class^="themed_"], .theme-light [class^="themed_"] {
    background: var(--bg-overlay-chat,var(--background-primary));
}

[class^="children_"]:after {
    display: none;
}




[class^="checked_"] {
    background-color: var(--accent)!important;

}

[class^="checked_"] path{
    fill: var(--accent)!important;
}


[class^="shopForAllBackgroundImage_"] {
    display: none;
}

[class^="customizationSection_"] {
    border-bottom: none;
}

[class^="contentRegion_"] [class^="divider_"] {
    border-top: none;
}

[class^="sidebarRegion_"] [class^="separator_"] {
    background: none;
}






[class^="resizeHandle_"] {
    background: transparent;
}

.theme-light [class^="winButton_"],
.theme-light [class^="winButtonClose_"] {
    color: rgba(0, 0, 0, 0.5);
}
.theme-dark [class^="winButton_"],
.theme-light [class^="winButtonClose_"] {
    color: rgba(255, 255, 255, 0.5);
}
.theme-light [class^="winButtonMinMax_"]:hover,
.theme-light [class^="winButtonClose_"] [class^="winButton_"]:hover {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark [class^="winButtonMinMax_"]:hover,
.theme-dark [class^="winButtonClose_"] [class^="winButton_"]:hover {
    color: rgba(255, 255, 255, 0.8);
}

button[class^="sortDropdown_"][class*="button_"][class*="lookFilled_"][class*="sizeMin_"][class*="grow_"],
[class^="sortDropdown_"],
button[class^="tagsButton_"][class*="button_"][class*="lookFilled_"][class*="sizeMin_"][class*="grow_"] {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

[class^="button_"] [class^="contents_"][class*="buttonInner_"],
[class^="addReactButton_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

h3[class^="defaultColor_"][class*="text-sm-normal_"][class*="defaultColor_"] {
    display: none;
}

[class^="content_"]:before,
[class^="searchBar_"],
[class^="header_"],
[class^="chat_"]:before {
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.05),
        0 1.5px 0 rgba(0, 0, 0, 0.025),
        0 2px 0 rgba(0, 0, 0, 0.025) !important;
}

:root {
    --responsive: 1;
}

[class^="container_"]:before {
    display: none;
}
[class^="voiceChannelsIcon_"] {
    display: none;
}
[class^="container_"] [class^="progressBarContainer_"][class*="bar_"] {
    display: none;
}

[class^="voiceChannelsButton_"] {
    border: 0;
}

[class^="text-xs-semibold_"][class*="barText_"] {
    display: none;
}
[class^="bottom_"] {
    margin-bottom: -5px;
}

[class^="searchBarComponent_"],
:not([class*="open_"]) > [class^="searchBar_"] {
    background: transparent !important;
}

[class^="compactButton_"],
[class^="compactButtonDisabled_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

[class^="role_"] {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

[class^="badgeList_"] {
    background: none !important;
}

[class^="messageInputContainer_"] {
    border: 0;
}

[class^="profilePanel_"] [class^="userPanelOuter_"],
[class^="upload_"] {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
[class^="profilePanel_"] [class^="userPanelInner_"] {
    background: transparent !important;
}

[class^="profilePanel_"] [class^="userProfileInner_"]:before {
    background-color: transparent;
}

[class^="userProfileInnerThemedNonPremium_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}
[class^="profileBadges_"] {
    background: transparent;
}
[class^="spine_"] path {
    fill: var(--channel-icon);
}
[class^="spineBorder_"] {
    background-color: var(--channel-icon);
}

[class^="sendIcon_"] path {
    fill: var(--interactive-normal);
}
[class^="button_"]:hover [class^="sendIcon_"] path {
    fill: var(--accent);
}

[class^="channelTextAreaDisabled_"] [class^="placeholder_"] {
    color: var(--text-muted);
}

[class^="channelTextArea_"][class*="channelTextAreaDisabled_"],
[class^="channelTextAreaDisabled_"] [class^="themedBackground_"] {
    background: transparent !important;
}

[class^="dismissWrapper_"] {
    opacity: 60%;
}

[class^="profileCustomizationSection_"] [class^="input_"],
[class^="lookFilled_"][class*="select_"],
[class^="popout_"] {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
    border: 0;
}

[class^="focused_"] {
    background: var(--bg-overlay-4, var(--background-secondary));
}

[class^="base_"] {
    height: 24px;
    background: var(--bg-overlay-3, var(--background-secondary));

    margin-left: -1px;
    margin-bottom: 7px;
    border-radius: 6px;
    padding-right: 10px;
    max-width: fit-content;
}

[class^="messageGroupWrapper_"] {
    border: 0;
}

[class^="stickerInspected_"] [class^="inspectedIndicator_"] {
    background: var(--bg-overlay-4);
}
[class^="stickerCategoryGenericSelected_"],
[class^="stickerCategoryGenericSelected_"]:hover {
    background: var(--bg-overlay-4);
}

[class^="guildIcon_"] {
    background: transparent;
}

[class^="lookFilled_"][class*="colorPrimary_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

[class^="newChannel_"] {
    background-color: var(--brand-experiment) !important;
    color: var(--white-500);
}

[class^="wrapperAudio_"],
[class^="textContainer_"],
[class^="newMosaicStyle_"] [class^="footer_"],
[class^="container_"],
[class^="container_"] {
    border: 0;
    background: var(--bg-overlay-3, var(--background-secondary));
}

[class^="jumpButton_"],
[class^="jumpButton_"],
[class^="jump_"],
[class^="spoilerMarkdownContent_"],
[class^="total_"],
[class^="blockquoteDivider_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
[class^="total_"]:after {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    border: 0;
    left: -8px;
    width: 8px;
    height: 21px;
}

[class^="guildIcon_"],
[class^="guildIconImage_"],
[class^="guildIcon_"] {
    background-color: transparent !important;
}

[class^="connectContainer_"], [class^="connectionHeader_"] {
    background: var(--bg-overlay-3, var(--background-secondary-alt));
}

[class^="connection_"] {
    background: var(--bg-overlay-2, var(--background-secondary));
}
[class^="sessionIcon_"] {
    background: var(--bg-overlay-6, var(--interactive-normal));
}

[class^="friendRequestsButton_"], [class^="emojiPicker_"],
[class^="secondary_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

[class^="container_"],
[class^="wrapper_"],
[class^="iconWrapper_"],
[class^="iconWrapper_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

/*.iconWrapper_a8f659,
.iconWrapper__8795c {
    background: var(--bg-overlay-4, var(--background-accent));
}*/

[class^="prompt_"],
[class^="prompt_"],
[class^="channelRow_"],
[class^="users_"],
[class^="chatHeaderBar_"],
[class^="moreUsers_"] {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}

[class^="optionButtonWrapper_"][class*="selected_"],
[class^="container_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    border-color: var(--background-tertiary);
}

[class^="reaction_"],
[class^="navButtons_"],
[class^="footer_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

[class^="wrapper_"]
    button[class^="button_"][class*="enabled_"][class*="button_"][class*="lookBlank_"][class*="colorBrand_"][class*="grow_"][class*="button_"] {
    width: 26px;
}

#vc-spotify-song-title::before,
#vc-spotify-song-title + div::before,
#vc-spotify-song-title + div + div::before {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
    padding: 7px;
    margin-left: -17px;
    margin-top: 2px;
    content: "";
    /* Spotify wave thingy fix */
    /*background-color: hsla(var(--spotify-vencord-text)/1);*/
    position: absolute;
}



#vc-spotify-song-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-music-4'%3E%3Cpath d='M9 18V5l12-2v13'%3E%3C/path%3E%3Cpath d='m9 9 12-2'%3E%3C/path%3E%3Ccircle cx='6' cy='18' r='3'%3E%3C/circle%3E%3Ccircle cx='18' cy='16' r='3'%3E%3C/circle%3E%3C/svg%3E");
}
#vc-spotify-song-title + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mic'%3E%3Cpath d='M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z'%3E%3C/path%3E%3Cpath d='M19 10v2a7 7 0 0 1-14 0v-2'%3E%3C/path%3E%3Cline x1='12' x2='12' y1='19' y2='22'%3E%3C/line%3E%3C/svg%3E");
}
#vc-spotify-song-title + div + div::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-disc-2'%3E%3Ccircle cx='12' cy='12' r='4'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='12' x2='12' y2='12.01'%3E%3C/line%3E%3C/svg%3E");
}
/* */

/* */
#vc-spotify-player {
    height: 50px;
    background: transparent !important;
    position: relative;
    transition: height 0.1s ease;
    padding: 7px !important;
    padding-top: 8px !important;
}

#vc-spotify-player:hover {
    height: 115px;
}

#vc-spotify-progress-bar {
    margin: 11px 0 7px;
}
#vc-spotify-info-wrapper > img {
    height: 100%;
}
#vc-spotify-info-wrapper #vc-spotify-titles {
    margin-left: 15px;
}

#vc-spotify-player #vc-spotify-titles .size14_b2af01 {
    font-size: 13px;
}
.theme-dark #vc-spotify-song-title::before,
.theme-dark #vc-spotify-song-title + div::before,
.theme-dark #vc-spotify-song-title + div + div::before {
    background-color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light #vc-spotify-song-title::before,
.theme-light #vc-spotify-song-title + div::before,
.theme-light #vc-spotify-song-title + div + div::before {
    background-color: rgba(0, 0, 0, 0.7)!important;
}
.theme-light #vc-spotify-player .colorStandard__3d599 {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark #vc-spotify-player .colorStandard__3d599 {
    color: rgba(255, 255, 255, 0.8);
}

.theme-dark .vc-spotify-artist, .theme-dark  .vc-spotify-album {
    color: rgba(255, 255, 255, 0.8);
}
.theme-light .vc-spotify-artist, .theme-light  .vc-spotify-album {
    color: rgba(0, 0, 0, 0.8);
}

#vc-spotify-player .barFill__1f56b {
    background-color: var(--interactive-active);
}
#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"] {
    background-color: var(--interactive-active);
    border-color: var(--interactive-active);
    width: 12px !important;
    height: 12px !important;
    margin-top: 3px;
    opacity: 1 !important;
}
.vc-spotify-progress-time {
    top: 12px;
}
.vc-spotify-button {
    color: var(--interactive-active);
}
.vc-spotify-button:hover {
    background-color: color-mix(
        in srgb,
        var(--interactive-active),
        transparent 75%
    );
}
.vc-spotify-shuffle-on {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-context {
    color: var(--accent, (-green-360));
}
.vc-spotify-repeat-track {
    color: var(--accent, (-green-360));
}
/* */

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
    height: 206px;
}

#vc-spotify-progress-bar,
.vc-spotify-button-row {
    opacity: 0;
}

#vc-spotify-player:hover #vc-spotify-progress-bar,
#vc-spotify-player:hover .vc-spotify-button-row {
    opacity: 1;
}

#vc-spotify-album-expanded-wrapper ~ #vc-spotify-progress-bar {
    top: -90px;
    left: -11px;
    padding-top: 18px;
    margin-left: 0px !important;
    padding-right: 8px;
    width: 197px;
    padding-bottom: 38px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    backdrop-filter: blur(18px) brightness(85%);
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}
#vc-spotify-album-expanded-wrapper
    ~ #vc-spotify-progress-bar
    .vc-spotify-progress-time {
    display: none;
}
#vc-spotify-album-expanded-wrapper {
    margin-left: -11px;
    margin-top: -1px;
}

#vc-spotify-album-expanded-wrapper ~ .vc-spotify-button-row {
    top: -136px;
    position: relative;
}

[class^="content_"] {
    border-top-left-radius: 8px;
}

.theme-dark [class^="container_"],
.theme-light [class^="container_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

[class^="botTagOP_"] {
    color: var(--white-500);
}

[class^="wrapper_"][class*="avatar_"] {
    display: none;
}

[class^="lineClamp1_"][class*="text-md-semibold_"][class*="name_"][class*="name_"] {
    max-width: 201px;
    overflow: hidden;
    position: absolute;
}
[class^="children_"] {
    margin-left: 12px;
}

[class^="actions_"] [class^="actionButton_"]:nth-child(1) {
    display: none;
}
[class^="actions_"] [class^="actionButton_"]:nth-child(2) {
    display: none;
}
[class^="peopleListItem_"]:hover [class^="actionButton_"]:nth-child(2) {
    display: flex;
}
[class^="username_"] {
    overflow: visible;
}

[class^="separator_"] {
    display: none;
}
[class^="wrapper_"] {
    border: 0;
}

[class^="animatedContainer_"] {
    border-top-left-radius: 8px;
}

[class^="container_"] {
    border: 0;
}
[class^="bar_"],
[class^="container_"] {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}
#vc-spotify-player ~ [class^="container_"] {
    border-top-left-radius: 8px;
    box-shadow: none;
}
[class^="messagesWrapper_"] {
    background: var(--bg-overlay-app-frame, var(--background-primary));
}
[class^="scroller_"],
[class^="forumPost_"],
[class^="messages_"] {
    background: var(--bg-overlay-chat, var(--background-primary));
}

[class^="sidebar_"],
[class^="panels_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
[class^="panels_"] {
    border-top-right-radius: 8px;
}

[class^="sidebar_"]:has(#vc-spotify-player) [class^="container_"] {
    /*border-bottom-left-radius: 8px;*/
    border-top-left-radius: 0;
}
#vc-spotify-player {
    border-top-right-radius: 8px;
}

[class^="panels_"]:has([class^="container_"]),
[class^="wrapper_"] {
    border-top-right-radius: 10px;
}

[class^="searchBar_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
    border-top-left-radius: 8px;
}
[class^="section_"],
[class^="messageContainer_"] {
    background: var(--bg-overlay-chat, var(--background-primary));
}

nav[class^="container_"] {
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}
[class^="sidebar_"] {
    background: var(--bg-overlay-2, var(--background-secondary));
}

[class^="container_"][class*="clickable_"] {
    background: var(--bg-overlay-chat, var(--background-primary));
    border-top-left-radius: 8px;
}
[class^="scroller_"] {
    background: var(--bg-overlay-2, var(--background-secondary));
    border-bottom-left-radius: 8px;
}
[class^="scroller_"] {
    border-bottom-left-radius: 8px;
}
[class^="privateChannels_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

#vc-spotify-album-image {
    border-radius: 8px;
}
header[class^="header_"],
[class^="focused_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

/* buttons */
[class^="tertiary_"],
[class^="button_"] {
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
}

[class^="button_"] {
    background: var(--bg-overlay-3, var(--background-tertiary));
}


[class^="colorable_"][class*="primaryDark_"] {
    background: var(--bg-overlay-3, var(--primary-630));
}
[class^="colorable_"][class*="primaryLight_"] {
    background: var(--bg-overlay-1, var(--primary-860));
}

iframe[class^="embedSpotify_"][class*="embedWrapper_"] {
    width: 100% !important;
    min-width: 224px;
    max-width: 400px;
}

[class^="pill_"] {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
    border: 0px;
}
[class^="divider_"] {
    visibility: hidden;
}

.theme-dark,
.theme-light {
    --info-warning-foreground: var(--os-accent-color);
}


.theme-dark [class^="mentioned_"]:hover {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}
.mouse-mode.full-motion [class^="message_"][class*="mentioned_"]:hover,  [class^="message_"][class*="mentioned_"]:hover {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}

[class^="mentioned_"] {
    background: color-mix(in srgb, var(--brand-500), transparent 75%)!important;
}

.theme-dark [class^="mentioned_"][class*="selected_"] {
    background: color-mix(in srgb, var(--brand-600), transparent 75%)!important;
}
.theme-light [class^="mentioned_"][class*="selected_"]{
    background: color-mix(in srgb, var(--brand-360), transparent 75%)!important;
}
[class^="mentioned_"] {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

/*fix better5folder border*/
[class^="folderIconWrapper_"] {
    border-radius: 10px;
}

[class^="scroller_"] {
    border-left: 0;
}

[class^="actionButtons_"] [class^="lookFilled_"][class*="colorPrimary_"],
[class^="wrapper_"] {
    background: var(--bg-overlay-5, var(--background-primary));
}
[class^="navButtonActive_"] {
    background: var(--bg-overlay-5, var(--background-accent));
}

.theme-dark [class^="scroller_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

[class^="scroller_"],
[class^="resultsGroup_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}
[class^="option_"]::after {
    display: none;
}

[class^="popout_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}
.theme-dark [class^="embedFull_"] {
    border-left: 4px solid rgba(255, 255, 255, 0.03);
}
.theme-light [class^="embedFull_"] {
    border-left: 4px solid rgba(0, 0, 0, 0.03);
}

[class^="fieldList_"], [class^="wrapper_"] {
    background: transparent;
}

[class^="container_"],
[class^="searchResultsWrap_"],
[class^="embedFull_"],
[class^="contentWrapper_"],
[class^="emptyCard_"],
[class^="footer_"],
[class^="messagesPopoutWrap_"],
[class^="accountProfileCard_"],
[class^="channelHeader_"],
[class^="container_"],
[class^="sidebarRegionScroller_"],
[class^="wrapper_"],
[class^="header_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

[class^="inspector_"],
[class^="card_"] {
    background: var(--bg-overlay-2, var(--background-secondary-alt));
}

[class^="mainCard_"] {
    background: var(--bg-overlay-3, var(--background-primary));
}

[class^="container_"] {
    border: 0px;
}

[class^="container_"]:hover {
    background: var(--bg-overlay-4, var(--background-primary));
}

[class^="container_"][class*="isOpen_"] {
    background: var(--bg-overlay-selected, (--background-modifier-selected))!important;
}


code,
[class^="searchHeader_"],
[class^="header_"],
[class^="header_"],
[class^="header_"],
[class^="wrapper_"] {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}
code {
    border: 0 !important;
}

[class^="container_"],
[class^="wrapper_"] {
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}

[class^="overlayBackground_"]:not([class*="userPopoutOverlayBackground_"]),
[class^="messageGroupWrapper_"],
[class^="background_"],
[class^="contentRegionScroller_"],
[class^="contentRegion_"] {
    background: var(--bg-overlay-chat, var(--background-primary));
}

[class^="searchResult_"] {
    background: var(--bg-overlay-4, var(--background-primary));
}

[class^="root_"], [class^="scrollTierBackground_"] {
    background: var(--bg-overlay-chat, var(--background-primary));
}

[class^="giftButton_"] {
    display: none;
}
[class^="container_"] {
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px ;
}

[class^="modalHeader_"] {
    background: var(--bg-overlay-chat, var(--background-primary));
}
[class^="activityItem_"]{
    background: var(--bg-overlay-2, var(--background-secondary));   
}

[class^="picker_"] {
    background: var(--bg-overlay-2, var(--background-floating));

}
[class^="activityTag_"]{
    background: var(--bg-overlay-4, var(--background-tertiary));   
   
}
[class^="container_"][class*="floating_"] {
    background: var(--bg-overlay-2, var(--background-secondary));
}

[class^="soundButton_"],[class^="activityItem_"]:hover {
    background: var(--bg-overlay-3, var(--background-secondary));
}

[class^="sectionDivider_"],
[class^="container_"]:after {
    visibility: hidden;
}

[class^="form_"] {
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}
[class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"], [class^="container_"]):not(:empty) {
    box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025);
}

[class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty) {

    margin-left: 0px !important;
    border-top-right-radius: 11px;
}

[class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"], [class^="container_"]):not(:empty) ~ div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"], [class^="container_"]):not(:empty),
[class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"], [class^="container_"]):not(:empty) > div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"], [class^="container_"]):not(:empty){
    box-shadow: none;
    border-top-right-radius: 0px;
}


/*.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) > div {
    margin-left: -6px;
}
.panels__58331 div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) > div ~ div:is(.container_e1958d, .container_6sXIoE, .panel_bd8c76, #vc-spotify-player, .wrapper_e832ee):not(:empty) > div{
}*/


div#vc-spotify-info-wrapper {
    margin-left: -4px;
}
div#vc-spotify-progress-bar {
    margin-left: -4px;
}

/*section.panels__58331{
    overflow: hidden;
}*/

::-webkit-scrollbar-track {
    visibility: hidden;
}


[class^="message_"]
    [class^="scrollableContainer_"][class*="themedBackground_"][class*="webkit_"] {
    border-radius: 8px;
}

[class^="bar_"] {
    background: none;
    box-shadow: none;
}

.platform-win [class^="scroller_"],
.platform-osx [class^="scroller_"] {
    padding-top: 0px;
}

[class^="guildSeparator_"] {
    display: none;
}

[class^="sidebar_"] {
    background: transparent;
}

[class^="container_"]:after {
    left: 4px !important;
}

[class^="peopleListItem_"] {
    border-top: 0;
}

[class^="clipContainer_"] {
    padding-top: 0px;
    margin-top: 0px;
}

[class^="wrapper_"] {
    margin-bottom: 0px;
    padding-bottom: 17px;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    border-radius: 0;
}

[class^="divider_"] {
    background-color: transparent;
}
[class^="mutualFriendsDivider_"] {
    border-top: 0;
}

form[class^="form_"] {
    bottom: -2px;
    top: 0px;
}

.theme-light [class^="form_"] {
    background: transparent !important;
    margin-top: 0px;
}
.theme-dark [class^="form_"] {
    background: transparent !important;
    margin-top: 0px;
}
.theme-light [class^="header_"] {
    border-top-left-radius: 8px !important;
}
.theme-dark [class^="header_"] {
    border-top-left-radius: 8px !important;
}
nav[class^="container_"] {
    border-top-left-radius: 8px;
}
.theme-dark [class^="header_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
}

.theme-dark [class^="searchBar_"] {
    border-top-left-radius: 8px !important;
}
.theme-light [class^="searchBar_"] {
    border-top-left-radius: 8px !important;
}

.theme-dark [class^="wrapper_"] [class^="container_"],
.theme-light [class^="wrapper_"] [class^="container_"] {
    background: transparent;
}

[class^="container_"] {
    border-bottom: 0px;
    padding-left: 4px;
}

[class^="channelTextArea_"] {
    height: 100%;
}

[class^="channelTextArea_"] {
    border-radius: 0px;
}

.theme-light [class^="container_"],
.theme-light [class^="member_"],
.theme-light [class^="members_"] {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
}

.theme-dark [class^="container_"],
.theme-dark [class^="member_"],
.theme-dark [class^="members_"] {
    background: var(--bg-overlay-2, var(--background-secondary-alt));
}

.theme-light span[class^="username_"] {
    color: #474747 !important;
}

.theme-light [class^="membersGroup_"] span span {
    color: gray !important;
}

[class^="children_"] [class^="iconWrapper_"] {
    display: none;
}

[class^="searchBar_"] {
    width: 22px;
}
[class^="buttonContainer_"] button:disabled {
    display: none;
}

.theme-light [class^="unreadImportant_"],
.theme-light [class^="item_"] {
    background-color: rgba(0, 0, 0, 0.66);
}
[class^="item_"] {
    margin-left: -3px;
}

[class*="timestamp"][class*="CompactTimeStamp"] {
    opacity: 0;
    will-change: opacity;
}
[class*="messageListItem"]
    > [class*="message"]:hover
    [class*="timestamp"][class*="CompactTimeStamp"] {
    opacity: 1;
}

[class^="separator_"] button[disabled] {
    display: none !important;
}
[class^="separator_"]::before {
    display: none !important;
}
[class^="separator_"] {
    margin-left: 0px;
}





[class^="emptyChannelIcon_"] {
    background: var(--bg-overlay-4, var(--background-accent)) !important;
}
[class^="numberBadge_"] {
    --status-danger: var(--accent);
}

[class^="panel_"][class*="activityPanel_"] {
    border-top-right-radius: 8px;
    background: transparent;
}

[class^="scrollableContainer_"][class*="themedBackground_"][class*="webkit_"] {
    /*margin-right: -12px;*/
    width: 100%;
}
[class^="webkit_"] [class^="buttons_"] {
    margin-right: 8px;
}

[class^="activityPanel_"] {
    border-bottom: 0px;
}


[class^="sansAttachButton_"]:after {
    top: -2px !important;
}

/*.container_debb33, .panel_bd8c76.activityPanel_b73e7a {
background: var(--bg-overlay-4,var(--background-tertiary))!important;

}*/

#vc-spotify-player {
    border-bottom: 0px;
    background: var(
        --bg-overlay-app-frame,
        var(--background-tertiary)
    ) !important;
}

[class^="chat_"] [class^="title_"]:not([class*="forumOrHome_"]) [class^="upperContainer_"] [class^="toolbar_"] [class^="iconWrapper_"]:nth-child(2),
/*[aria-label="Start Video Call"],
[aria-label="Videohívás indítása"]*/
[class^="akaBadge_"],
[class^="chat_"] [class^="upperContainer_"] [class^="toolbar_"] [class^="iconWrapper_"]:nth-child(5),
/*[aria-label="Show User Profile (Unavailable)"], 
[aria-label="Felhasználói profil megjelenítése (Nem érhető el)"], */
[class^="chat_"] [class^="toolbar_"] [class^="anchor_"] {
    display: none !important;
}

@media only screen and (min-width: 639px) {
    [class^="attachButton_"] {
        margin-left: -7px;
        margin-right: 7px;
    }
}

@media only screen and (max-width: 418px) {
    [class^="lineClamp1_"][class*="text-md-semibold_"][class*="name_"][class*="name_"] {
        max-width: calc(100vw - 277px) !important;
    }

    /*szerver sáv*/
    [class^="wrapper_"] {
        width: 32px;
        height: 32px;
    }
    [class^="svg_"] {
        width: 32px;
        height: 33px;
    }
    [class^="wrapper_"] {
        height: 32px;
    }

    [class^="listItem_"] {
        width: 50px;
    }

    [class^="expandedFolderBackground_"] {
        left: 9px;

        width: 32px;
    }
    [class^="guilds_"] {
        width: 50px;
    }

    [class^="guildSeparator_"] {
        margin-top: 3.5px;
    }

    
}

@media only screen and (max-width: 380px) {


    .font-size-16 [class^="cozy_"][class*="hasThread_"]:after,
    .font-size-15 [class^="cozy_"][class*="hasThread_"]:after,
    .font-size-14 [class^="cozy_"][class*="hasThread_"]:after,
    .font-size-12 [class^="cozy_"][class*="hasThread_"]:after {
        left: 0px;
        top: 3rem;
    }

    [class^="lineClamp1_"][class*="text-md-semibold_"][class*="name_"][class*="name_"] {
        max-width: calc(100vw - 189px) !important;
    }

    img[class^="avatar_"][class*="clickable_"],
[class^="toolbar_"] [class^="iconWrapper_"]:nth-child(3),
/*[aria-label="Kitűzött üzenetek"], 
[aria-label="Pinned Messages"], */
/*.search__07df0,*/ [class^="toolbar_"] [class^="anchor_"], [class^="attachButton_"],
[class^="buttonContainer_"], [aria-label="Open Translate Modal"],
[class^="timestamp_"],
.vc-platform-indicator,
 span.vc-smyn-suffix, [class^="text-xs-semibold_"][class*="barText_"],.[class^="akaBadge_"],
 [class^="avatarDecoration_"] {
        display: none !important;
    }

    .a11y-font-scaled-down [class^="cozy_"][class*="wrapper_"],
    .a11y-font-scaled-down [class^="cozy_"][class*="wrapper_"] [class^="header_"] {
        padding-left: 42px;
    }
    [class^="cozy_"][class*="wrapper_"] {
        margin-top: 0px;
    }
    [class^="searchBarComponent_"] {
        position: relative;
        overflow: hidden;
    }
    [class^="message_"] {
        padding-right: 4px !important;
        padding-left: 18px !important;
    }
    [class^="groupStart_"] {
        margin-top: 12px !important;
    }

    [class^="searchBarComponent_"]::before {
        content: "⌕"; /* Unicode karakterkód a nagyító ikonhoz */
        display: inline-block;
        margin-right: 15px; /* Opcionális: Távolság az ikon és a gomb szövege között */
        font-size: 32px; /* Opcionális: Az ikon mérete */
    }

    [class^="searchBarComponent_"]::after {
        content: attr(aria-label);
        position: absolute;
        left: 100%;
        opacity: 0;
    }

}

@media only screen and (max-width: 337px) {

    [class^="sidebar_"]:not(:hover) [class^="connection_"] a [class^="subtext_"] {
    margin-left: -6px!important;
    }

    [class^="form_"] [class^="buttons_"], [class^="recentsIcon_"] {
        display: none;
    }

    [class^="lineClamp1_"][class*="text-md-semibold_"][class*="name_"][class*="name_"] {
        max-width: calc(100vw - 137px) !important;
    }

    :has([class^="sidebar_"]:not(:hover)) [class^="guilds_"], [class^="guilds_"]:not(:hover) {
        display: none;
    }

    [class^="sidebar_"]:not(:hover) #vc-spotify-player {
        padding-left: 8px !important;
    }

    #vc-spotify-progress-bar > [class^="slider"] {
        padding-left: 1px !important;
    }
}

@media only screen and (max-width: 780px) {
    [class^="container_"] span:not([class^="headerText_"]) {
        max-width: 59px !important;
        overflow: hidden;
        display: inline-block;
        white-space: normal;
    }

    h3[class^="membersGroup_"][class*="container_"] {
        padding-left: 1px !important;
        align-items: center;
        display: flex;
        text-align: center;
    }

    [class^="container_"] {
        width: 60px;
    }
    [class^="membersWrap_"] {
        min-width: fit-content;
    }
}

[class^="sidebar_"] [class^="subtext_"] {
        width: 149px;
}


/* Médialekérdezések 638 pixel szélesség alatt */
@media only screen and (max-width: 638px) {

    [class^="headerChildren_"] {
        display: none !important;
    }

    [class^="caret_"], [class^="title_"] {
    display: none;
    }

    [class^="container_"][class*="clickable_"]{
        z-index: 91!important;
    }

    [class^="sidebar_"]:not(:hover) [class^="bannerVisible_"] > [class^="header_"]{
        box-shadow:
            0 1px 0 rgba(0, 0, 0, 0.05),
            0 1.5px 0 rgba(0, 0, 0, 0.025),
            0 2px 0 rgba(0, 0, 0, 0.025) !important;    
    }

    [class^="sidebar_"]:not(:hover) [class^="headerContent_"] {
    color: var(--header-primary)!important;
    filter:none!important;
    }
    [class^="title_"] {
      z-index: 90;
    }
    header[class^="header_"] {
        z-index: 91;
    }

    [class^="sidebar_"]:not(:hover) #vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
        margin-left: 5px!important;
        padding-left: 2px!important;
        padding-right: 3px!important;
        padding-bottom: 10px!important;
        padding-top: 0px!important;
    }

    [class^="animatedContainer_"] {
        visibility: hidden;
    }

    [class^="flex_"][class*="horizontal_"][class*="justifyStart_"][class*="alignStretch_"][class*="noWrap_"]:nth-child(
            2
        ),
    [class^="sidebar_"]:not(:hover) [class^="labelWrapper_"] {
        visibility: hidden;
    }

    [class^="sidebar_"]:not(:hover) [class^="inner_"] {
        z-index: 98;
        overflow: visible;
    }
    [class^="sidebar_"]:not(:hover) [class^="rtcConnectionStatus_"]{
        overflow: visible;
        margin-left: 7px;
    }
    [class^="sidebar_"]:not(:hover) [class^="connection_"] [class^="subtext_"] {
        margin-left: -8px!important;
    }


    [class^="sidebar_"]:not(:hover) [class^="actionButtons_"] {
        display: none;
    }


    [class^="sidebar_"]:not(:hover) [class^="subtext_"] {
        overflow: hidden;
        margin-left: -2px;
        width: 44px;
    }

    [class^="lineClamp1_"][class*="text-md-semibold_"][class*="name_"][class*="name_"] {
        max-width: calc(100vw - 299px);
    }

    .theme-dark [class^="scroller_"],
    .theme-light [class^="scroller_"] {
        background: var(--bg-overlay-chat, var(--background-primary));
    }

    [class^="withTagAsButton_"] {
        min-width: 40px;
    }

    [class^="sidebar_"] {
        overflow: visible!important;
    }
    [class^="topic_"] {
        display: none;
    }
    [class^="name_"] {
        overflow: visible;
    }

    h1[class^="defaultColor_"][class*="heading-md-semibold_"][class*="defaultColor_"][class*="cursorPointer_"][class*="title_"] {
        display: block !important;
    }

    [class^="actions_"] {
        visibility: hidden;
    }

    .vc-spotify-time-right[class^="modeDefault_"],
    .vc-spotify-titles,
    .vc-spotify-button-row {
        display: none !important;
    }

    #vc-spotify-titles {
        visibility: hidden;
    }
    
    [class^="searchBarComponent_"]::before {
        content: "⌕"; /* Unicode karakterkód a nagyító ikonhoz */
        display: inline-block;
        margin-right: 15px; /* Opcionális: Távolság az ikon és a gomb szövege között */
        font-size: 32px; /* Opcionális: Az ikon mérete */
    }
    button[class^="attachButton_"][class*="attachButton_"][class*="button_"] {
        margin-left: 1px;
        padding-right: 15px;
    }

    [class^="message_"][class*="cozyMessage_"] {
        padding-right: 10px !important;
    }
    img[class^="avatar_"][class*="clickable_"] {
        margin-left: -4px;
    }
    [class^="container_"] {
        margin-left: -7px;
    }

    [class^="searchBarComponent_"]::after {
        content: attr(aria-label);
        position: absolute;
        left: 100%;
        opacity: 0;
    }

    [class^="sidebar_"] {
        width: 50px !important;
        transition: width 0.1s ease;
    }

    [class^="nameTag_"][class*="canCopy_"] {
        visibility: hidden;
    }

    h2[class^="privateChannelsHeaderContainer_"][class*="container_"],
    [class^="toolbar_"] [class^="anchor_"],
    [class^="text-xs-semibold_"][class*="barText_"] {
        display: none;
    }

    [class^="bar_"] {
        padding: 2px 2px;
    }

    [class^="sidebar_"] > :not([class^="privateChannels_"]) [class^="content_"] {
        visibility: hidden;
    }

    [class^="layout_"] {
        padding: 0;
    }
    [class^="link_"] {
        overflow: visible;
    }
    [class^="sidebar_"]:not(:hover)
        #vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
        height: 50px;
    }

    #vc-spotify-player {
        margin-bottom: -13px;
    }
    #vc-spotify-info-wrapper #vc-spotify-album-image {
        margin-left: -7px;
        margin-bottom: 10px;
    }

    [class^="sidebar_"]:hover #vc-spotify-player {
        margin-bottom: 0px;
    }
    [class^="sidebar_"]:hover #vc-spotify-info-wrapper #vc-spotify-album-image {
        margin-bottom: 0px;
    }

    [class^="sidebar_"]:hover,
    [class^="sidebar_"] *:hover .sidebar_e031be {
        width: 220px !important;
        transition: width 0.1s ease;
    }

    [class^="sidebar_"]:hover [class^="content_"],
    [class^="sidebar_"]:hover [class^="avatarWrapper_"],
    [class^="sidebar_"]:hover #vc-spotify-titles,
    [class^="sidebar_"]:hover [class^="nameTag_"][class*="canCopy_"],
    [class^="sidebar_"]:hover
        [class^="flex_"][class*="horizontal_"][class*="justifyStart_"][class*="alignStretch_"][class*="noWrap_"] {
        visibility: visible !important;
    }
    [class^="sidebar_"]:hover + [class^="chat_"],
    [class^="sidebar_"]:hover + [class^="chat_"] [class^="content_"]:before {
        margin-left: 0px !important;
    }

    [class^="sidebar_"]:hover [class^="animatedContainer_"] {
        visibility: visible;
    }

    [class^="sidebar_"]:hover .vc-spotify-button-row {
        display: flex !important;
    }
    [class^="sidebar_"]:hover [class^="withTagAsButton_"] {
        min-width: 120px;
    }

    [class^="sidebar_"]:hover [class^="actions_"] {
        visibility: visible !important;
    }
    .theme-light [class^="sidebar_"]:hover [class^="scroller_"] {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark [class^="sidebar_"]:hover [class^="scroller_"] {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }

    .theme-light [class^="sidebar_"]:hover,
    .theme-dark [class^="sidebar_"]:hover {
        background: var(--bg-overlay-app-frame, var(--background-tertiary));
    }






}
.theme-dark :not([class*="bannerVisible_"]) > [class^="header_"],
.theme-light :not([class*="bannerVisible_"]) > [class^="header_"] {
    background: var(--bg-overlay-chat, var(--background-primary));
}

[class^="panels_"]
    [class^="flex_"][class*="horizontal_"][class*="justifyStart_"][class*="alignStretch_"][class*="noWrap_"] {
    margin-left: -16px;
}

[class^="jumpToPresentBar_"],
[class^="mention_"] {
    background: var(--bg-overlay-app-frame, var(--accent));
    backdrop-filter: blur(7px);
}
[class^="botTagRegular_"] {
    background: var(--bg-overlay-app-frame, var(--accent));
}

[class^="newMessagesBar_"] {
    background: var(--bg-overlay-app-frame, var(--accent));
    backdrop-filter: blur(7px);
}
.theme-light [class^="wrapper_"][class*="interactive"]:not([style]),
.theme-light [class^="wrapper_"]:not(.mention) {
    background: var(--bg-overlay-4, var(--accent));
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark [class^="wrapper_"][class*="interactive"]:not([style]),
.theme-dark [class^="wrapper_"]:not(.mention) {
    background: var(--bg-overlay-4, var(--accent));
    color: rgba(255, 255, 255, 0.8);
}

:root {
    --brand-430: color-mix(in hsl, var(--accent) 90%, white);
    --brand-300: color-mix(in hsl, var(--accent) 50%, white);
    --brand-360: color-mix(in hsl, var(--accent) 60%, white);
    --brand-500: var(--accent);
    --brand-560: color-mix(in hsl, var(--accent) 90%, black);
    --brand-600: color-mix(in hsl, var(--accent) 80%, black);

}

.vc-addon-card {
    background: var(--bg-overlay-4, var(--background-secondary-alt));
}

[class^="input_"] {
    background: var(--bg-overlay-3, var(--input-background));
}

[class^="itemFilled_"] {
    background: var(--bg-overlay-3,var(--background-secondary));
}

[class^="itemFilled_"][aria-checked=true] {
    background: var(--bg-overlay-selected, var(--background-modifier-selected));
}
[class^="itemFilled_"]:hover:not([aria-checked=true]):not([class^="disabled_"]) {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}



[class^="option_"]:focus, [class^="option_"]:hover, [class^="option_"][class*="focused_"] {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}
[class^="itemFilled_"]:active:not([aria-checked=true]):not([class^="disabled_"]) {
    background: var(--bg-overlay-4, var(--background-modifier-active));
}


[class^="topPill_"] [class^="themed_"][class*="selected_"][class*="item_"], [class^="side_"] [class^="themed_"][class*="selected_"][class*="item_"] {
    background: var(--bg-overlay-selected, var(--background-modifier-selected));
}



[class^="topPill_"] [class^="themed_"][class*="item_"]:hover:not([class^="disabled_"]), [class^="side_"] [class^="themed_"][class*="item_"]:hover:not([class^="disabled_"]) {
    background: var(--bg-overlay-5, var(--background-modifier-hover));
}
[class^="topPill_"] [class^="themed_"][class*="item_"]:active:not([class^="disabled_"]), [class^="side_"] [class^="themed_"][class*="item_"]:active:not([class^="disabled_"]) {
    background: var(--bg-overlay-4, var(--background-modifier-active));}




[class^="linkTop_"] [class^="iconContainer_"] [class^="icon_"] {
    opacity: 60% !important;
}

[class^="sidebar_"] {
    width: 220px;
}
[class^="form_"] {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -8px;
}
[class^="sansAttachButton_"] {
    padding-top: 4px;
    padding-bottom: 5px;
}

[class^="channelTextArea_"] {
    margin-bottom: 0px;
}
[class^="scrollableContainer_"] {
    border-radius: 0px;
}

[class^="base_"] {
    bottom: 53px;
    height: 18px;
}
[class^="base_"] [class^="cooldownWrapper_"] {
    margin-right: 0;
    background: var(--bg-overlay-2, var(--background-tertiary));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 3px;
    line-height: 17px;
}
[class^="fontSize15Padding_"] {
    padding-bottom: 12px;
    padding-top: 11px;
}

/*[aria-label="GIF válogató megnyitása"]{display:none;}
[aria-label="Open GIF picker"]{display:none;}
[aria-label="Matricaválogató megnyitása"]{display:none;}
[aria-label="Open sticker picker"]{display:none;}*/

/*Nukes the discord branding*/
[class^="wordmarkWindows"],
[class^="typeWindows-"]:not([class*="withBackgroundOverride"]),
#app-mount:has([class^="pageWrapper"]) > [class^="typeWindows"] {
    display: none;
}

/* "GIF" text in profile banner GONE*/

[class*="gifTag"] {
    display: none;
}

[class^="buttons_"] > button
/* Hide Nitro gift button */
/*button[aria-label="Send a gift"] */ {
    display: none;
}

div > [href="/store"], div > [href="/shop"]/* Nitro Button above DM List */ {
    display: none /*!important*/;
}

[class^="divider_"] :not(#---new-messages-bar) {
    border-top: 0 !important;
}
[class^="container_"] {
    height: 52px;
    padding-left: 3px;
}

[class^="divider_"] {
    display: none;
}

[class^="customColumn_"],
[class^="contentColumn_"] {
    min-width: 338px;
}
[class^="contentRegionScroller_"] [class^="tools_"] {
    top: 36px;
    right: 0px;
    position: fixed;
}
[class^="keybind_"] {
    margin-top: -24px;
    margin-right: 76px;
}
[class^="sidebar_"] {
    width: 176px;
}

#my-account-tab [class^="bannerSVGWrapper_"] circle {
    display: none;
}
[class^="avatar_"] {
    top: 46px;
    left: 22px;
}

#my-account-tab [class^="bannerSVGWrapper_"] {
    min-width: 100px !important;
    min-height: 10px !important;
}

@media only screen and (max-width: 683px) {

    [class^="buttons_"] [class^="buttonContainer_"] [class^="stickerButton_"],
    [class^="buttons_"] [class^="buttonContainer_"] [class^="button_"]  {
        display: none;
    }

    [class^="customColumn_"],
    [class^="contentColumn_"] {
        padding: 60px 25px 80px;
    }
}

@media (max-width: 1200px) {
    [class^="nowPlayingColumn_"] {
        display: block;
    }
}

@media (max-width: 1080px) {
    [class^="topPill_"] [class^="item_"] {
        margin: 0;
    }
}
@media (max-width: 1020px) {
    [class^="nowPlayingColumn_"] {
        min-width: 296px;
    }
}
@media (max-width: 939px) {
    [class^="nowPlayingColumn_"] {
        display: none;
    }
}
@media (max-width: 902px) {
    [class^="tabBar_"] [class^="item_"]:nth-child(4) {
        display: none;
    }
}
@media (max-width: 788px) {
    [class^="tabBar_"] [class^="item_"]:nth-child(3) {
        display: none;
    }
}
@media (max-width: 465px) {
    [class^="tabBar_"] [class^="item_"]:nth-child(5) {
        display: none;
    }
}
@media (max-width: 804px) {
[class^="list_"]>div:first-child, [class^="headerRow_"] {
    min-width: 0px!important;

}

[class^="list_"]>div:first-child {
    padding-left: 8px;
    padding-right: 0px;
}
}


[class^="channelTextArea_"] {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}
[class^="themedBackground_"] {
    background: var(--bg-overlay-3, var(--background-secondary));
    /*mask-image: linear-gradient(to right, 
    black, rgba(0, 0, 0, 0.5) 6%, rgba(0, 0, 0, 0.5) 60%, black 100%);*/
}

[class^="guildIconV2Container_"] div{
    display: none;
}

.nav[class^="container_"] {
    border-top-left-radius: 0px !important;
}

[class^="cozy_"][class*="hasThread_"]:after {
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    border-bottom-left-radius: 10px;
    clip-path: polygon(
        0 0,
        2px 0,
        2px calc(100% - 10px),
        2.062px calc(100% - 9px),
        2.25px calc(100% - 8px),
        3.07px calc(100% - 6px),
        4.71px calc(100% - 4px),
        6.13px calc(100% - 3px),
        10px calc(100% - 2px),
        100% calc(100% - 2px),
        100% 100%,
        0 100%
    );
}
[class^="repliedMessage_"]:before {
    border-top-left-radius: 10px;
    background: var(--bg-overlay-3, var(--background-secondary));
    border: none;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 2px,
        10px 2px,
        6.13px 3px,
        4.71px 4px,
        3.07px 6px,
        2.25px 8px,
        2.062px 9px,
        2px 10px,
        2px 100%,
        0 100%
    );
}

[class^="wrapper_"][class*="minimum_"] {
        background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
[class^="content_"]:has([class^="wrapper_"]) [class^="searchBar_"] {
    border-top-right-radius: 8px;
}

[class^="progressBarContainer_"][class*="bar_"][class*="progressBarContainerComplete_"] {
    display: none;
}
[class^="bannerImg_"] {
    width: 220px;
}

[class^="divider_"] {
    --divider-color: var(--brand-experiment);
}

[class^="icon_"][class*="iconSize_"] {
    background: var(--brand-experiment) !important;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%233ba55c'/%3E%3C/g%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%233ba55c'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 100% 100%; /* Állítsuk be az SVG méretét a teljes háttértérszínre */
    background-position: center; /* Középre igazítjuk a háttérképet */
    padding-right: 2px;
}

[class^="userJoinSystemMessageIcon_"] path {
    fill: var(
        --brand-experiment
    ) !important; 
}

[class^="categoryItemDefaultCategorySelected_"],
[class^="categoryItemDefaultCategorySelected_"]:hover {
    background: var(--bg-overlay-chat, var(--background-primary)) !important;
}

[class^="panels_"] {
    margin-left: 4px !important;
}

.theme-dark [class^="sidebar_"]:hover [class^="scroller_"] {
    background: var(--bg-overlay-3, var(--background-secondary)) !important;
}

.theme-light [class^="sidebar_"]:hover [class^="scroller_"] {
    background: var(--bg-overlay-2, var(--background-secondary)) !important;
}

[class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0;
    width: 12px; 
    height: 12px;
    background: var(--bg-overlay-2, var(--background-secondary));
    opacity: 100%;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
}
[class^="panels_"] div:is([class^="container_"], [class^="container_"],
[class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty) > div:is([class^="container_"], [class^="container_"], [class^="panel_"],
#vc-spotify-player, [class^="wrapper_"]):not(:empty)::before,
[class^="panels_"] div:is([class^="container_"], [class^="container_"],
[class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty) ~ div:is([class^="container_"], [class^="container_"], [class^="panel_"],
#vc-spotify-player, [class^="wrapper_"]):not(:empty)::before{
    display: none;
}



.theme-light [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {

    background: var(--bg-overlay-2, var(--background-secondary));
}
.theme-dark [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {

    background: var(--bg-overlay-3, var(--background-secondary));
}




@media only screen and (max-width: 638px) {
    .theme-dark [class^="scroller_"],
    .theme-light [class^="scroller_"] {
        background: var(
            --bg-overlay-chat,
            var(--background-primary)
        ) !important;
    }

    /*Responsive forum section*/

    .theme-dark [class^="content_"]:has([class*="forumOrHome_"]) [class^="sidebar_"]:not(:hover) [class^="scroller_"] {
        background: var(--bg-overlay-home, var(--home-background))!important;
    }
    .theme-light [class^="content_"]:has([class*="forumOrHome_"]) [class^="sidebar_"]:not(:hover) [class^="scroller_"] {
        background: var(--bg-overlay-1, var(--home-background))!important;
    }
    section[class^="panels_"] {
    position: relative;
    }

    [class^="content_"]:has([class*="forumOrHome_"]) [class^="sidebar_"]:not(:hover) [class^="panels_"]:before{
        content: ""; 
        position: absolute; 
        top: 0; 
        right: 0;
        width: 12px; 
        height: 12px;
        opacity: 100%;
        z-index: 1;
        clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    )!important;
    display:inherit!important;
    }
    .theme-dark [class^="content_"]:has([class*="forumOrHome_"]) [class^="sidebar_"]:not(:hover) [class^="panels_"]:before{
        background: var(--bg-overlay-home, var(--home-background));
    }
    .theme-light [class^="content_"]:has([class*="forumOrHome_"]) [class^="sidebar_"]:not(:hover) [class^="panels_"]:before{
        background: var(--bg-overlay-1, var(--home-background));
    }


    [class^="content_"]:has([class*="forumOrHome_"]) [class^="sidebar_"]:not(:hover) [class^="container_"] {
        width: 32px;
        border-top-right-radius: 8px;
    }

    /*-----*/

    [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
        background: var(
            --bg-overlay-chat,
            var(--background-primary)
        ) !important;
    }

    .theme-light
        [class^="privateChannels_"]
        ~ [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark
        [class^="privateChannels_"]
        ~ [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }

    .theme-light
        [class^="sidebar_"]:hover
        [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
        background: var(--bg-overlay-2, var(--background-secondary)) !important;
    }
    .theme-dark
        [class^="sidebar_"]:hover
        [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
        background: var(--bg-overlay-3, var(--background-secondary)) !important;
    }
}



[class^="form_"] [class^="lookFilled_"][class*="colorPrimary_"] {
    background: var(--bg-overlay-6, var(--background-accent));
}






[class^="search_"]:not([class*="open_"]) [class^="iconLayout_"] {
  cursor: pointer!important;
}

[class^="search_"]:not([class*="open_"]) [class^="searchBar_"] {
  width: 22px;
  background-color: transparent;
}

[class^="search_"]:not([class*="open_"]) [class^="iconContainer_"] {
  transform: scale(1.4);
}

[class^="search_"]:not([class*="open_"]) [class^="icon_"] {
  color: var(--interactive);
}

[class^="search_"]:not([class*="open_"]):hover [class^="icon_"] {
  color: var(--interactive-active);
}

[class^="jumpToPresentBar_"] {
    padding-top: 4px;
    padding-bottom: 4px;
}

[class^="botTagAI_"] {
    background: var(--bg-overlay-6, var(--background-accent));
}
