/*Userprofile backgrounds hiding*/
[class^="userProfileInner_"] [class^="input_"], [class^="popoutNoBannerPremium_"],
:not(aside):not([class^="customizationSection_"])>[class^="userProfileOuterThemed_"],
:not(aside):not([class^="customizationSection_"])>[class^="userProfileOuterUnthemed_"],
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInnerThemedWithBanner_"],
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInnerThemedPremiumWithoutBanner_"],
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInnerThemedNonPremium_"],
:not(aside):not([class^="customizationSection_"])>div>div>[class^="overlayBackground_"] {
    background: none!important;
}
[class^="userProfileInnerThemedNonPremium_"] [class^="popoutBanner_"]{
    opacity: 0;
}
/*frame*/
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInnerThemedWithBanner_"]:after,
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInnerThemedPremiumWithoutBanner_"]::after {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  padding: 4px;
  border-radius: calc(var(--radius-popup) + 1px);
  background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/*slight tint*/
.theme-light [class^="wrapper_"], .theme-light [class^="inner_"],
.theme-light [class^="inner_"] {
    background: rgba(0, 0, 0, 0.05) !important;
}
.theme-dark [class^="wrapper_"], .theme-dark [class^="inner_"],
.theme-dark [class^="inner_"] {
    background: rgba(255, 255, 255, 0.05) !important;
}

/*remove background*/
[class^="container_"],[class^="container_"], [class^="popout_"], [class^="footer_"], [class^="option_"]::after,
[class^="focused_"], [class^="badgeList_"], [class^="root_"]:not([class*="modalRoot_"]),
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInner_"]:before,
[class^="wrapper_"],
[class^="profileBadges_"], [class^="footer_"], [class^="wrapper_"],
[class^="container_"],[class^="container_"],
[class^="channelHeader_"],[class^="messageGroupWrapper_"],
[class^="messagesPopoutWrap_"],
[class^="header_"], [class^="container_"],[class^="quickswitcher_"],
[class^="input_"], [class^="scroller_"], [class^="menu_"], #popout_4842,
[class^="contentWrapper_"],  [class^="wrapper_"],
[class^="scroller_"], [class^="container_"], [class^="resultsGroup_"],
[class^="contentWrapper_"], [class^="emojiPicker_"], [class^="inspector_"],
[class^="header_"], [class^="modal_"], [class^="rolePill_"],  [class^="previewContainer_"],
[class^="container_"],[class^="container_"], [class^="footer_"],
[class^="reactors_"], [class^="scroller_"], [class^="list_"], [class^="header_"], [class^="container_"], [class^="wrapper_"],
[class^="header_"], [class^="autocomplete_"] [class^="wrapper_"], [class^="guildSection_"],
[class^="authorize_"], [class^="footer_"], [class^="contentWrapper_"],
[class^="optionBox_"], [class^="smallDecorationPreviewsContainer_"],
[class^="decorationPreview_"], [class^="decorationGridItem_"], .vc-notification-root,
[class^="navButtons_"], paymentModalContent [class^="content_"],
[class^="guildPopout_"] [class^="body_"],
[class^="skuSelectModalHeader_"], [class^="skuSelectModalContent_"],
[class^="tier2_"], [class^="tier0_"], [class^="body_"], [class^="benefit_"],
[class^="scroller_"], [class^="container_"], [class^="voters_"],
[class^="addAnswerButton_"], [class^="modalHeader_"],
[class^="scrollTierBackground_"], [class^="wrapper_"], [class^="body_"],
[class^="wrapper_"], [class^="contentFill_"] {
    background: none!important;
}

[class^="tier2_"]::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: calc(var(--opacity-popup)*0.8);
    z-index: -1;
    border-radius: inherit;
    background-image: var(--custom-premium-colors-premium-gradient-tier-2);
}
[class^="tier0_"]::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: calc(var(--opacity-popup)*0.8);
    z-index: -1;
    border-radius: inherit;
    background-image: var(--custom-premium-colors-premium-gradient-tier-0);
}

/*blur*/
[class^="reactionTooltip_"],#sort-and-view, [class^="container_"], [class^="popout_"],
#user-profile-actions, [class^="wrapper_"] ,
[class^="messagesPopoutWrap_"],[class^="contentWrapper_"],
[class^="quickswitcher_"],[class^="picker_"],
[class^="autocomplete_"], [class^="streamPreview_"]  ,[class^="container_"],
[class^="container_"], [class^="container_"],
[class^="focusLock_"]>[class^="modal_"],
[class^="popout_"], [aria-labelledby]>[class^="root_"]:not(:has(>[aria-labelledby])) ,
[class^="uploadModal_"], [class^="rootWithShadow_"]:has(>[class^="reactorsContainer_"]),
[class^="root_"]:has(>[id]), [class^="root_"]:has(>[class^="transitionGroup_"]),
#manage-multi-account, [class^="container_"], [class^="toast_"],
[class^="languageSelector_"], [class^="recentMentionsPopout_"],
[class^="customColorPicker_"], [class^="root_"]:has(>div>div>form>[class^="header_"]),
[class^="prompt_"], .vc-notification, [class^="guildPopout_"],
[class^="selectFilterPopout_"], [class^="container_"],
[class^="root_"]:has(>[class^="content_"])  {
    background: transparent!important;
    backdrop-filter: blur(var(--blur-popup));

}

/*blur before*/
[class^="wrapper_"]::before,
:not([class^="contentWrapper_"])>#emoji-picker-tab-panel::before,
[class^="root_"]:has(>[class^="form_"])::before,
#guild-header-popout::before,
[class^="container_"]::before,
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInner_"]:before,
[class^="modal_"]::before,
[class^="submenuPaddingContainer_"]::before, [class^="container_"]::before,
#guild-context::before, #channel-attach::after, #friend-row::after,/*#message::after,  #thread-context::after,
#image-context::after, #expression-picker::after, #channel-context::after,
#user-settings-cog::after, #audio-device-context::after, #user-context::after,
#message-actions::after, #textarea-context::after, #vc-toolbox::after,  #gdm-context::after,
#vc-pindms-header-menu::after, #stream-context::after, #video-device-context::after,
#manage-streams::after, #spotify-album-menu::after, #spotify-Song-menu::after,
#spotify-Artist-menu::after, #spotify-Album-menu::after,
#channel-mention-context::after, #mentions-filter::after,
#dev-context::after*/ [role="menu"][id]:not(#account):not(#guild-context):not(#guild-header-popout)::after, 
[class^="root_"]:has(>div>[class^="connectionsContainer_"])::before {
    content: "";
    backdrop-filter: blur(var(--blur-popup));
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border-radius: inherit;
}
/*fix user review profile popup*/
:not(aside):not([class^="customizationSection_"])>div>[class^="userProfileInner_"]:before {
    z-index: inherit;
}

/*color and transparency before or after*/
[class^="wrapper_"]::after,
[class^="quickswitcher_"]::after,#sort-and-view::after, [class^="container_"]::before,
[class^="form_"]::after, #guild-header-popout::after, [class^="container_"]::after,
:not(aside):not([class^="customizationSection_"])>[class^="userProfileOuterThemed_"]::before,
:not(aside):not([class^="customizationSection_"])>[class^="userProfileOuterUnthemed_"]::before,
[class^="menu_"]:not(#guild-context):not(#sort-and-view)[class*="flexible_"]:first-child::before,
[class^="submenu_"][class*="menu_"]::before,
[class^="contentWrapper_"]::before,
:not([class^="contentWrapper_"])>#emoji-picker-tab-panel::after, #guild-context::after,
[class^="layer_"]:has([class^="container_"])::before,
[class^="container_"]::before,
[class^="focusLock_"]>[class^="modal_"]::after,
[class^="popout_"]::after,
[aria-labelledby]>[class^="root_"]:not(:has(>[aria-labelledby]))::after,
[class^="uploadModal_"]::after,
[class^="rootWithShadow_"]:has(>[class^="reactorsContainer_"])::after,
[class^="root_"]:has(>[id])::after,
[class^="root_"]:has(>[class^="transitionGroup_"])::after,
[class^="container_"]::after, [class^="languageSelector_"]::after,
[class^="recentMentionsPopout_"]::after,
[class^="root_"]:has(>div>[class^="connectionsContainer_"])::after,
[class^="popout_"]::after, [class^="customColorPicker_"]::after,
[class^="root_"]:has(>div>div>form>[class^="header_"])::after,
.vc-notification::after, [class^="guildPopout_"]::after,
[class^="root_"]:has(>[class^="content_"])::after  {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-3, var(--background-secondary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}

[class^="toast_"]::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-app-frame, var(--background-tertiary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}
[class^="modal_"]::after, [class^="popout_"]::after, [class^="picker_"]::before,
[class^="prompt_"]::after, [class^="selectFilterPopout_"]::after, [class^="container_"]::after  {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-chat, var(--background-primary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}

[class^="wrapper_"]::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-5, var(--background-primary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}
[class^="autocomplete_"]::before,[class^="streamPreview_"]::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--pop-up-color, var(--bg-overlay-3, var(--background-secondary)));
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
}

[class^="messageGroupWrapper_"]::before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: -1;
    border-radius: inherit;
    background: var(--pop-up-color, var(--bg-overlay-chat, var(--background-primary)))!important;
}
[class^="reactionTooltip_"]::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: var(--opacity-popup);
    z-index: -1;
    border-radius: inherit;
    background: var(--pop-up-color, var(--bg-overlay-chat, var(--background-primary)))!important;
}
[class^="footer_"]::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    border-radius: inherit;
    background: var(--pop-up-color, var(--bg-overlay-3, var(--background-secondary)))!important;
}




/*fix hidden scrollbars*/
[class^="submenuPaddingContainer_"]::before, [class^="submenu_"][class*="menu_"]::before {
    width: calc(100% - 16px);
    left: 8px;
}
[class^="layer_"]:has([class^="container_"])::before {
    width: calc(100% - 16px);
    left: 16px;
}
/*border radius*/
[class^="userPopoutOuter_"], [class^="popout_"],
[class^="container_"], [class^="messagesPopoutWrap_"],
[class^="menu_"],[class^="scroller_"]  {
}
[class^="inner_"]::before,
[class^="inner_"]::before, [class^="root_"]::after,[class^="root_"]::before  {
border-radius: inherit;
}
[class^="layerContainer_"] [class^="roundedBanner_"] {
    border-radius: calc(var(--radius-popup) - 6px) calc(var(--radius-popup) - 6px) 0 0;
}
[class^="categoryList_"] {
    /*border-bottom-left-radius: var(--radius-popup) ;*/
}
[class^="userProfileOuter_"], [class^="root_"] {
    border-radius: var(--radius-popup);
}

:not(aside):not([class^="customizationSection_"])>div>div>div>[class^="overlayBackground_"] {
    border-bottom-left-radius: max(var(--radius-popup) - 16px, 8px);
    border-bottom-right-radius: max(var(--radius-popup) - 16px, 8px);
}

[class^="submenuPaddingContainer_"]::before,
[class^="submenu_"][class*="menu_"]::before, [class^="root_"]::before, [class^="form_"]::after,
[class^="menu_"]::before,
[class^="menu_"],
[class^="menu_"]::after,
[class^="scroller_"]::before,
[class^="scroller_"],
[class^="scroller_"]::after {
    border-radius: var(--radius-context)!important;
}

/*simple line shadow above*/
[class^="footer_"], [class^="inspector_"] {
        box-shadow:
        0 -0.5px 0 rgba(0, 0, 0, 0.05),
        0 -1px 0 rgba(0, 0, 0, 0.025),
        0 -1.5px 0 rgba(0, 0, 0, 0.025)!important;
}

/*other*/
[class^="avatarHoverTarget_"] [class^="svg_"] > circle,
[class^="root_"] [class^="svg_"] > circle {
    opacity: 0!important;
}  
:not(aside):not([class^="customizationSection_"])>div>div>div>div>svg>foreignObject>[class^="banner_"] {
    background-color: transparent!important;
}
[class^="resultsGroup_"]:before, [class^="rolePillBorder_"],
[class^="questionInput_"] {
    border: none!important;
}
[class^="header_"] {
    margin-bottom: 1px;
}

/*.theme-light .defaultColor__30336,*/ .theme-light [class^="misc_"],
.theme-light>[class^="userProfileInner_"] [class^="discriminator_"],
.theme-light[class^="userProfileModalOuter_"] [class^="additionalActionsIcon_"],
.theme-light>[class^="userProfileInner_"] [class^="text-sm-normal_"],
.theme-light [class^="text-sm-medium_"][style*="color: var(--text-muted)"],
.theme-light [class^="text-xs-normal_"][style*="color: var(--header-secondary)"] {
    color: rgba(0, 0, 0, 0.7)!important;
}
/*.theme-dark .defaultColor__30336,*/ .theme-dark [class^="misc_"],
.theme-dark>[class^="userProfileInner_"] [class^="discriminator_"],
.theme-dark [class^="userProfileModalOuter_"] [class^="additionalActionsIcon_"],
.theme-dark>[class^="userProfileInner_"] [class^="text-sm-normal_"],
.theme-dark [class^="text-sm-medium_"][style*="color: var(--text-muted)"],
.theme-dark [class^="text-xs-normal_"][style*="color: var(--header-secondary)"] {
    color: rgba(255, 255, 255, 0.7)!important;
}
.theme-light>[class^="userProfileInner_"] [class^="item_"]  {
    color: rgba(0, 0, 0, 0.8);
}
.theme-dark>[class^="userProfileInner_"] [class^="item_"] {
    color: rgba(255, 255, 255, 0.8);
}

.theme-light [class^="defaultColor_"], .theme-dark [class^="defaultColor_"] {
    color: var(--header-primary);
}


[class^="channelHeader_"] {
    z-index: 0;
}
[class^="messages_"] {
    z-index: 1;
    position: relative;
}
#notification-actions {
    position: relative;
}

/*Tooltip*/
.theme-light [class^="tooltip_"], .theme-light [class^="popoutContainer_"] {
    --background-floating: rgba(255,255,255,var(--opacity-popup));
    backdrop-filter: blur(var(--blur-popup));
}
.theme-dark [class^="tooltip_"], .theme-dark [class^="popoutContainer_"] {
    --background-floating: rgba(0,0,0,var(--opacity-popup));
    backdrop-filter: blur(var(--blur-popup));
}
.theme-dark [class^="containerBackground_"]  {
    --background-floating: rgba(0,0,0,var(--opacity-popup));
}
.theme-light [class^="containerBackground_"]  {
    --background-floating: rgba(255,255,255,var(--opacity-popup));
}

[class^="container_"]{
    backdrop-filter: blur(var(--blur-popup));
    border-radius: 8px;
}
[class^="containerBackground_"]:after{
    margin-top: 0;
}

[class^="emojiPicker_"], [class^="container_"] {
    box-shadow: none;
}
[class^="animatorLeft_"] ::before {
    box-shadow: var(--elevation-stroke),var(--elevation-high);
}

.theme-light [class^="unicodeShortcut_"] {
    backdrop-filter: blur(8px) contrast(0.5) brightness(1.3);
    background: none;
}
.theme-dark [class^="unicodeShortcut_"] {
    backdrop-filter: blur(8px) brightness(0.8);
    background: none;
}
  
:not(aside):not([class^="customizationSection_"])>[class^="userProfileOuterThemed_"]::before {
    background: linear-gradient(
        var(--profile-gradient-primary-color),
        var(--profile-gradient-secondary-color))!important; 
    opacity:var(--opacity-popup)!important;
}

#image-context, #expression-picker, #channel-context, 
#user-context, #mentions-filter, #dev-context, [class^="flexible_"] {
    position: relative;
}

form[class^="form_"] {
    position: inherit;
}

[class^="backdrop_"]:not(:has(~div>div>:is([class^="modal_"],[class^="carouselModal_"]))) {
    background: none!important;
}

[class^="rootWithShadow_"]:not(:has(> [class^="quickswitcher_"])),
[class^="quickswitcher_"] {
    box-shadow: 0px 0px 1000px rgba(0, 0, 0, 1)!important;
    border-radius: var(--radius-context);
}
[class^="root_"][class*="root_"][class*="small_"][class*="fullscreenOnMobile_"] {
    box-shadow: 0px 0px 1000px rgba(0, 0, 0, 1)!important;
}

[class^="root_"] {
    transform: none!important;
}

[class^="scroller_"]:not([class^="none_"]) {
    border: var(--context-menu-border)!important;
}

/*inner boxes*/
.theme-dark [class^="perks_"], .theme-dark [class^="benefit_"], .theme-dark [class^="calloutContainer_"] {
    background: rgba(0, 0, 0, var(--opacity-popup-inner))!important;
}
.theme-light [class^="perks_"], .theme-light [class^="benefit_"], .theme-light [class^="calloutContainer_"] {
    background: rgba(255, 255, 255, var(--opacity-popup-inner))!important;
}

:not(aside):not([class^="customizationSection_"])>div>div>[class^="overlayBackground_"]::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--profile-body-background-color);    
    border-radius: inherit;
    z-index: -1;
    opacity: calc(var(--opacity-popup-inner) * 2.22);
}
[class^="userProfileInnerThemedNonPremium_"] [class^="overlayBackground_"]::after{
    opacity: calc(var(--opacity-popup-inner))!important;
}


.theme-dark [class^="guildPopout_"] [class^="footer_"] {
    background: rgba(0, 0, 0, 0.15);
}
.theme-light [class^="guildPopout_"] [class^="footer_"] {
    background: rgba(255, 255, 255, 0.15);
}

[class^="perkRow_"] {border-bottom: 0;}

[class^="premiumIconWrapper_"] { display: none; }

[class^="layerContainer_"] {
    z-index: 9999;
}

.theme-dark, .theme-light {
    --modal-background: transparent;
    --modal-footer-background: transparent;
}

.theme-light {
    --search-popout-option-non-text-color: rgba(0, 0, 0, 0.7);
}
.theme-dark {
    --search-popout-option-non-text-color: rgba(255, 255, 255, 0.7);
}

.theme-light :is([class^="searchOption_"] [class^="answer_"],
    [class^="searchOption_"] [class^="filter_"], [class^="resultsGroup_"] [class^="header_"] ) {
    color: rgba(0, 0, 0, 0.7);
}
.theme-dark :is([class^="searchOption_"] [class^="answer_"],
    [class^="searchOption_"] [class^="filter_"], [class^="resultsGroup_"] [class^="header_"] ) {
    color: rgba(255, 255, 255, 0.7);
}

.theme-dark [class^="tooltipPrimary_"] [class^="tooltipPointer_"]{
    --background-floating: rgba(0, 0, 0, calc(var(--opacity-popup) / 2));
}
.theme-light [class^="tooltipPrimary_"] [class^="tooltipPointer_"] {
    --background-floating: rgba(255, 255, 255, calc(var(--opacity-popup)));
}
