/* MICA */
body,
#app-mount,
[class^="typeWindows_"],
[class^="app_"],
[class^="bg_"],
[class^="guilds_"],
[class^="scroller_"] {
    background: transparent !important;
}

/* Darker transparency background*/

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: var(
        --var-opacity-option
    ); /* Átlátszóság beállítása (0-től 1-ig terjedő értékek) */
    z-index: -1; /* Az átlátszó háttér mögé helyezése */
    filter: saturate(var(--var-color-saturation)) contrast(var(--var-contrast));
}

[class^="sidebar_"] {
    background: transparent;
}

[class^="container_"]:not([class^="floating_"]) {
    background: transparent;
}

[class^="scroller_"] {
    border-bottom-left-radius: 8px;
}

[class^="panels_"],
[class^="container_"] {
    margin-left: 0px !important;
}

[class^="panels_"] {
    margin-left: 4px !important;
}

[class^="resizeHandle_"] {
    background: transparent;
}

[class^="header_"],
[class^="searchBar_"] {
    border-bottom-left-radius: calc(
        8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0))
    );
}
[class^="panels_"] {
    border-top-left-radius: calc(
        8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0))
    );
}
[class^="container_"]:after {
    left: calc(
        8px * (1 - 9999 * var(--var-opacity-left-sidebar, 0))
    ) !important;
}

[class^="mentioned_"] {
    border-radius: 5px;
}

[class^="content_"]:has([class^="tabBody_"]) [class^="panels_"],
[class^="content_"]:has([class^="card_"]) [class^="panels_"] {
    border-top-right-radius: 8px;
}

[class^="container_"] {
    background: var(--var-opacity-left-sidebar);
}

.theme-light [class^="mainCard_"] {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar));
}
.theme-dark [class^="mainCard_"] {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar));
}

[class^="sidebar_"],
[class^="panels_"] {
    background: transparent;
}

[class^="searchBar_"] {
    background: transparent;
    border-top-left-radius: 8px;
}
[class^="content_"],
[class^="section_"],
[class^="forumOrHome_"] [class^="messageContainer_"] {
    background: transparent;
}

nav[class^="container_"] {
    background: transparent !important;
}
[class^="sidebar_"] {
    background: transparent;
}

[class^="container_"][class*="clickable_"] {
    background: transparent;
    border-top-left-radius: 8px;
}
[class^="scroller_"] {
    background: transparent;
    border-bottom-left-radius: 8px;
}
[class^="privateChannels_"] {
    background: transparent !important;
}

.theme-light [class^="container_"] {
    background: transparent;
}

.theme-light [class^="header_"] {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}
.theme-dark [class^="container_"] {
    background: transparent !important;
}
.theme-dark [class^="header_"] {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}

.theme-light [class^="scroller_"],
[class^="privateChannels_"] [class^="scroller_"] {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
}
.theme-dark [class^="scroller_"] {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
}

[class^="panels_"],
[class^="container_"],
[class^="panel_"][class*="activityPanel_"] {
    background: transparent !important;
}
.theme-light [class^="panels_"] {
    background: transparent !important;
}
.theme-dark [class^="container_"] {
    background: transparent !important;
}

[class^="chat_"] {
    background: transparent;
}

.theme-light [class^="themed_"] /*TITLE*/ {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
}
.theme-dark [class^="themed_"] /*TITLE*/ {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
}





[class^="chatContent_"] {
    background: transparent !important;
}

.theme-light [class^="scroller_"],
.theme-light [class^="container_"] {
    background: rgba(
        255,
        255,
        255,
        var(--var-opacity-inner-messages)
    ) !important;
}
.theme-dark [class^="scroller_"],
.theme-dark [class^="container_"] {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
}
.theme-light [class^="channelTextArea_"]/*Üzenetírás*/ {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input)) !important;
}
.theme-dark [class^="channelTextArea_"]/*Üzenetírás*/ {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input)) !important;
}
[class^="channelTextArea_"] {
    background-color: transparent;
}
[class^="themedBackground_"]/*Üzenetírás*/ {
    background: transparent !important;
}

.theme-light [class^="container_"] {
    background: rgba(
        255,
        255,
        255,
        var(--var-opacity-right-sidebar)
    ) !important;
}
.theme-dark [class^="container_"] {
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar)) !important;
}
[class^="member_"] {
    background: transparent !important;
}

[class^="privateChannels_"] {
    background: transparent !important;
}
.theme-dark [class^="scroller_"] {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
}
.theme-dark [class^="searchBar_"] {
    background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}
.theme-light [class^="searchBar_"] {
    background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
    border-top-left-radius: 8px;
}

[class^="members_"] {
    background: transparent;
}

[class^="children_"]:after {
    display: none;
}

[class^="form_"]:before {
    background: transparent !important;
}

[class^="container_"] {
    background: transparent !important;
}

[class^="form_"] {
    margin-top: 0px;
}

.theme-light [class^="form_"] {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages));
}
.theme-dark [class^="form_"] {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
}

.theme-dark [class^="profilePanel_"] {
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar));
}
.theme-light [class^="profilePanel_"] {
    background: rgba(255, 255, 255, var(--var-opacity-right-sidebar));
}

[class^="userPanelInnerThemed_"] {
    background: transparent;
}

[class^="userProfileOuterUnthemed_"] {
    background: transparent;
}
[class^="banner_"] {
    background-color: transparent !important;
}
[class^="userPanelOuter_"] {
    --profile-gradient-overlay-color: transparent !important;
}
.theme-dark[class^="overlayBackground_"] {
    background-color: hsla(0, 0, 0, 0.45);
}
.theme-light[class^="overlayBackground_"] {
    background-color: hsla(255, 255, 255, 0.45);
}

/*HOME FUll screen right bar  ACTIVE NOW*/
[class^="scroller_"] {
    border-left: 0px;
    margin-left: 0px;
}
[class^="container_"] {
    background: transparent;
}
.theme-dark [class^="nowPlayingColumn_"] {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
}
.theme-light [class^="nowPlayingColumn_"] {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar));
}
.theme-dark [class^="peopleColumn_"] {
    background: rgba(0, 0, 0, var(--var-opacity-right-sidebar));
}
.theme-light [class^="peopleColumn_"] {
    background: rgba(255, 255, 255, var(--var-opacity-right-sidebar));
}
[class^="tabBody_"] {
    background: transparent;
}
.theme-dark [class^="actionButton_"] {
    background-color: rgba(255, 255, 255, 0.05);
}

/*Search sidebar area*/
.theme-light [class^="searchResultsWrap_"] {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input));
}
.theme-dark [class^="searchResultsWrap_"] {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input));
}
.theme-light [class^="searchHeader_"] {
    background: rgba(255, 255, 255, 0.15) !important;
}
.theme-dark [class^="searchHeader_"] {
    background: rgba(0, 0, 0, 0.15) !important;
}

.theme-light [class^="searchResult_"] {
    background: rgba(255, 255, 255, 0.25);
}
.theme-dark [class^="searchResult_"] {
    background: rgba(0, 0, 0, 0.25);
}
[class^="container_"] {
    background: transparent;
}

[class^="wrapper_"][class*="minimum_"] {
    background: transparent !important;
}

#vc-spotify-player {
    background: transparent !important;
}

[class^="replyBar_"] {
    background: transparent !important;
}
[class^="attachedBars_"] {
    background: transparent !important;
}

/*SETTINGS*/
[class^="sidebarRegionScroller_"] {
    background: transparent;
}
[class^="layer_"] {
    background: transparent;
}
[class^="standardSidebarView_"] {
    background: transparent;
}

[class^="contentRegion_"],
[class^="contentRegionScroller_"] {
    border-top-left-radius: 8px !important;
}
[class^="contentRegion_"] {
    background: transparent;
}
.theme-dark [class^="contentRegionScroller_"] {
    background: rgba(0, 0, 0, 0.3);
}
.theme-light [class^="contentRegionScroller_"] {
    background: rgba(255, 255, 255, 0.3);
}

.theme-light [class^="themed_"][class*="item_"],
.theme-light [class^="brand_"][class*="item_"] {
    color: black;
}
.theme-light [class^="header_"] {
    color: rgba(0, 0, 0, 0.6);
}

[class^="cardPrimary_"] {
    border-color: transparent;
}

[class^="animatedContainer_"] {
    z-index: 3;
}
[class^="hasBanner_"] [class^="animatedContainer_"] {
    opacity: 100% !important;
}

[class^="wrapper_"] ~ [class^="content_"]:before {
    display: none;
}
[class^="wrapper_"] ~ [class^="content_"] [class^="scroller_"] {
    border-top-right-radius: 8px;
}

[class^="content_"]:has([class^="wrapper_"]) [class^="searchBar_"] {
    border-top-right-radius: 8px;
}

.theme-dark
    [class^="message_"]
    [class^="scrollableContainer_"][class*="themedBackground_"][class*="webkit_"] {
    background: rgba(0, 0, 0, var(--var-opacity-bottom-input)) !important;
}
.theme-light
    [class^="message_"]
    [class^="scrollableContainer_"][class*="themedBackground_"][class*="webkit_"] {
    background: rgba(255, 255, 255, var(--var-opacity-bottom-input)) !important;
}

.theme-light [class^="embedFull_"],
.theme-light [class^="reaction_"],
.theme-light [class^="markup_"] code {
    background: rgba(255, 255, 255, 0.25) !important;
}

nav[class^="container_"] {
    border-bottom-left-radius: 8px;
}

@media only screen and (max-width: 638px) {

    .theme-dark [class^="content_"]:has([class^="forumOrHome_"])
    [class^="sidebar_"]:not(:hover) [class^="scroller_"] {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
    }
    .theme-light [class^="content_"]:has([class^="forumOrHome_"])
    [class^="sidebar_"]:not(:hover) [class^="scroller_"] {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages)) !important;
    }

    .theme-dark [class^="content_"]:has([class^="forumOrHome_"])
    [class^="sidebar_"]:not(:hover) [class^="panels_"]:before,
    .theme-dark [class^="content_"]:has([class^="forumOrHome_"])
    [class^="sidebar_"]:not(:hover) [class^="panels_"]:before {
    display: none;
}
    .theme-dark [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages))!important;
}
    .theme-light [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages))!important;
}

    .theme-dark nav[class^="container_"] {
        background: transparent !important;
    }
    .theme-light nav[class^="container_"] {
        background: transparent !important;
    }
    .theme-light [class^="header_"] {
        background: rgba(255, 255, 255, var(--var-opacity-titlebar)) !important;
    }
    .theme-dark [class^="header_"] {
        background: rgba(0, 0, 0, var(--var-opacity-titlebar)) !important;
    }

    .theme-light [class^="scroller_"] {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }

    .theme-light [class^="sidebar_"]:hover nav[class^="container_"] {
        background: transparent !important;
    }
    .theme-light [class^="sidebar_"]:hover [class^="scroller_"] {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }
}

/*fix the updated theme*/
[class^="messagesWrapper_"] {
    background: transparent;
}

.theme-dark [class^="sidebar_"],
.theme-light [class^="sidebar_"] {
    background: transparent;
}

.theme-light [class^="sidebar_"]:hover,
.theme-dark [class^="sidebar_"]:hover {
    background: transparent !important;
}

.theme-dark [class^="sidebar_"]:hover [class^="scroller_"] {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
}

.theme-light [class^="sidebar_"]:hover [class^="scroller_"] {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
}

.theme-dark [class^="message_"][class*="selected_"],
.theme-dark.mouse-mode.full-motion [class^="message_"]:hover {
    background: rgba(0, 0, 0, 0.15);
}
.theme-light [class^="message_"][class*="selected_"],
.theme-light.mouse-mode.full-motion [class^="message_"]:hover {
    background: rgba(255, 255, 255, 0.15);
}

.theme-dark [class^="profilePanel_"] [class^="userPanelOuter_"],
.theme-light [class^="profilePanel_"] [class^="userPanelOuter_"] {
    background: transparent !important;
}

.theme-dark [class^="overlayBackground_"]:not([class*="userPopoutOverlayBackground_"]) {
    background: rgba(0, 0, 0, 0.2) !important;
}

.theme-light
    [class^="overlayBackground_"]:not([class*="userPopoutOverlayBackground_"]) {
    background: rgba(255, 255, 255, 0.2) !important;
}

[class^="panels_"] > div:nth-child(2):has(div):before,
[class^="panels_"] > [class^="panel_"][class*="activityPanel_"]:before {
    content: ""; /* Tartalom hozzáadása a :before pseudoelemhez */
    position: absolute; /* Abszolút pozícionálás a szülő elemhez képest */
    top: 0; /* A tartalom pozíciója a szülő felső részéhez képest */
    right: 0;
    width: 12px; /* A tartalom szélessége teljes szülő szélesség */
    height: 12px;
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
    opacity: 100%;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
}

.theme-dark [class^="panels_"] > div:nth-child(2):has(div):before,
.theme-dark [class^="panels_"] > [class^="panel_"][class*="activityPanel_"]:before {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
}
.theme-light [class^="panels_"] > div:nth-child(2):has(div):before,
.theme-light [class^="panels_"] > [class^="panel_"][class*="activityPanel_"]:before {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar));
}

@media only screen and (max-width: 638px) {

    .theme-dark [class^="content_"]:has([class^="forumOrHome_"]) [class^="sidebar_"]:not(:hover) [class^="panels_"]:before {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
    }

    .theme-dark [class^="scroller_"] {
        background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
    }
    .theme-light [class^="scroller_"] {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-inner-messages)
        ) !important;
    }
    .theme-light [class^="panels_"] > div:nth-child(2):has(div):before,
    .theme-light [class^="panels_"] > [class^="panel_"][class*="activityPanel_"]:before {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-inner-messages)
        ) !important;
    }
    .theme-dark [class^="panels_"] > div:nth-child(2):has(div):before,
    .theme-dark [class^="panels_"] > [class^="panel_"][class*="activityPanel_"]:before {
        background: rgba(0, 0, 0, var(--var-opacity-inner-messages)) !important;
    }

    .theme-dark
        [class^="privateChannels_"]
        ~ [class^="panels_"]
        > div:nth-child(2):has(div):before,
    .theme-dark
        [class^="privateChannels_"]
        ~ [class^="panels_"]
        > [class^="panel_"][class*="activityPanel_"]:before {
        background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }
    .theme-light
        [class^="privateChannels_"]
        ~ [class^="panels_"]
        > div:nth-child(2):has(div):before,
    .theme-light
        [class^="privateChannels_"]
        ~ [class^="panels_"]
        > [class^="panel_"][class*="activityPanel_"]:before {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }

    .theme-dark
        [class^="sidebar_"]:hover
        [class^="panels_"]
        > div:nth-child(2):has(div):before,
    .theme-dark
        [class^="sidebar_"]:hover
        [class^="panels_"]
        > [class^="panel_"][class*="activityPanel_"]:before {
        background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }
    .theme-light
        [class^="sidebar_"]:hover
        [class^="panels_"]
        > div:nth-child(2):has(div):before,
    .theme-light [class^="panels_"] > [class^="panel_"][class*="activityPanel_"]:before {
        background: rgba(
            255,
            255,
            255,
            var(--var-opacity-left-sidebar)
        ) !important;
    }
}

[class^="wrapper_"] {
    background: transparent;
}
::-webkit-scrollbar-track {
    visibility: hidden;
}

/*ADVANCED HALF TRANSPARENCY WITH COLOR*/

[class^="markup_"] code,
[class^="textContainer_"],
[class^="codeView_"],
[class^="newMosaicStyle_"] [class^="footer_"],
[class^="selected_"],
[class^="searchBar_"] [class^="searchBarComponent_"],
:not([class*="open_"]) > [class^="searchBar_"],
[class^="embedFull_"],
[class^="modeSelected_"] [class^="link_"],
[class^="modeSelected_"]:hover [class^="link_"],
[class^="base_"] [class^="reaction_"],
[class^="container_"],
[class^="users_"] {
    background: transparent !important;
}

.theme-dark
    [class^="message_"]
    [class^="scrollableContainer_"][class*="themedBackground_"][class*="webkit_"]::before,
.theme-light
    [class^="message_"]
    [class^="scrollableContainer_"][class*="themedBackground_"][class*="webkit_"]::before,
[class^="codeContainer_"]:before,
[class^="textContainer_"]:before,
[class^="embedFull_"]:before,
[class^="reactionInner_"]:before,
[class^="container_"]:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-3, var(--background-secondary));
    opacity: 0.35;
    z-index: -1;
}
[class^="selected_"]:before,
[class^="modeSelected_"] [class^="link_"]:before,
[class^="modeSelected_"]:hover [class^="link_"]:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-selected, var(--icon-muted));
    opacity: 0.35;
    z-index: -1;
    filter: saturate(var(--var-color-saturation));
}


[class^="total_"]:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.35;
    z-index: -1;
}


[class^="users_"]:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.35;
    z-index: -1;
}

[class^="modeSelected_"] [class^="link_"]:before,
[class^="modeSelected_"]:hover [class^="link_"]:before,
[class^="codeContainer_"]:before,
[class^="selected_"]:before,
[class^="embedFull_"]:before,
[class^="container_"]:before {
    border-radius: 4px;
}

[class^="embedFull_"]:before {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

[class^="textContainer_"]:before,
[class^="reactionInner_"]:before {
    border-radius: 8px;
}

[class^="container_"] {
    position: inherit;
}
[class^="users_"] {
    position: relative;
}

[class^="repliedMessage_"]:before,
[class^="cozy_"][class*="hasThread_"]:after {
    opacity: 0.5;
}

[class^="voiceChannelsButton_"] {
    border: 0;
}

[class^="container_"]:before {
    display: none;
}

/*transparent text colors*/

.theme-light,
.theme-light [class^="placeholder"][class*="slateTextArea"] {
    --text-muted: rgba(0, 0, 0, 0.5);
    --channel-text-area-placeholder: rgba(0, 0, 0, 0.5);
}

.theme-dark,
.theme-dark [class^="placeholder"][class*="slateTextArea"] {
    --text-muted: rgba(255, 255, 255, 0.5);
    --channel-text-area-placeholder: rgba(255, 255, 255, 0.5);
}

.theme-light {
    --channel-icon: rgba(0, 0, 0, 0.5);
    --channels-default: rgba(0, 0, 0, 0.5);
    --header-secondary: rgba(0, 0, 0, 0.5);
    --primary-400: rgba(0, 0, 0, 0.5);
}
.theme-dark {
    --channel-icon: rgba(255, 255, 255, 0.5);
    --channels-default: rgba(255, 255, 255, 0.5);
    --header-secondary: rgba(255, 255, 255, 0.5);
    --primary-400: rgba(255, 255, 255, 0.5);
}

[class^="content_"] {
    backdrop-filter: blur(7px);
    background: transparent;
}

.theme-light [class^="spriteGreyscale_"] {
    background-color: rgba(0, 0, 0, 0.5); /*50%*/
}
.theme-dark [class^="spriteGreyscale_"] {
    background-color: rgba(255, 255, 255, 0.5); /*50%*/
}
.theme-light [class^="button_"],
.theme-light [class^="icon_"],
.theme-light [class^="button_"],
.theme-light [class^="search_"]:not([class*="open_"]) [class^="icon_"] {
    color: rgba(0, 0, 0, 0.5); /*50%*/
}
.theme-dark [class^="button_"],
.theme-dark [class^="icon_"],
.theme-dark [class^="button_"],
.theme-dark [class^="search_"]:not([class*="open_"]) [class^="icon_"] {
    color: rgba(255, 255, 255, 0.5); /*50%*/
}

[class^="search_"]:hover [class^="icon_"] {
    color: var(--interactive-hover)!important;
}

.theme-light [class^="attachButtonPlus_"],
.theme-light [class^="content_"] [class^="button_"] path {
    fill: rgba(0, 0, 0, 0.5);
}
.theme-dark [class^="attachButtonPlus_"],
.theme-dark [class^="content_"] [class^="button_"] path {
    fill: rgba(255, 255, 255, 0.5);
}

.theme-light [class^="interactive_"][class*="interactiveSelected_"] /*legerősebb*/ {
    color: rgba(0, 0, 0, 0.9);
}
.theme-dark [class^="interactive_"][class*="interactiveSelected_"] /*legerősebb*/ {
    color: rgba(255, 255, 255, 0.9);
}

.theme-light [class^="interactive_"],
.theme-light [class^="themed_"][class*="item_"],
.theme-light [class^="brand_"][class*="item_"] /*erős*/ {
    color: rgba(0, 0, 0, 0.7);
}
.theme-dark [class^="interactive_"],
.theme-dark [class^="themed_"][class*="item_"],
.theme-dark [class^="brand_"][class*="item_"] /*erős*/ {
    color: rgba(255, 255, 255, 0.7);
}

.theme-light [class^="container_"], .theme-light [class^="privateChannelsHeaderContainer_"]  {
    color: rgba(0, 0, 0, 0.5)!important;
}
.theme-dark [class^="container_"], .theme-dark [class^="privateChannelsHeaderContainer_"] {
    color: rgba(255, 255, 255, 0.5)!important;
}
.theme-light [class^="markup_"] {
    /*full*/
    color: black;
}
.theme-dark [class^="markup_"] {
    color: white;
}

.theme-light [class^="container_"]:not([class*="checked_"]) {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.theme-dark [class^="container_"]:not([class*="checked_"]) {
    background-color: rgba(255, 255, 255, 0.4) !important;
}


[class^="divider_"]:not(#---new-messages-bar) {
				 
    border: 0 !important;
}

.theme-light span[class^="username_"] {
    color: rgba(0, 0, 0, 0.9) !important;
}
.theme-light [class^="membersGroup_"] span span {
    color: rgba(0, 0, 0, 0.6) !important;
}
[class^="chatContent_"] [class^="botTagRegular_"] {
    background: none;
}
[class^="chatContent_"] [class^="botTagRegular_"]:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.7;
    z-index: -1;
    border-radius: 3px;
}
/* I have to fix this one ... somehow */
/*
[class^="members_"] [class^="botTagRegular_"]:before{
    content: "";
    top: 0;
    left: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
    opacity: 0.6; 
    z-index: -1; 
    border-radius: 3px;
} */

[class^="chat_"]:not(:has([class^="callContainer_"])):has([class^="membersWrap_"]) [class^="form_"],
[class^="chat_"]:not(:has([class^="callContainer_"])):has([class^="membersWrap_"]) [class^="channelTextArea_"] {
    --var-a: calc(var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar));
    --abs-a: max(var(--var-a),-1*var(--var-a));
    border-top-right-radius: calc(10px - (var(--abs-a) * 9999px));
}

[class^="chat_"]:not(:has([class^="callContainer_"])):has([class^="membersWrap_"]) [class^="channelTextArea_"]:after {
    content: ""; /* Tartalom hozzáadása a :before pseudoelemhez */
    position: absolute; /* Abszolút pozícionálás a szülő elemhez képest */
    top: 0px; /* A tartalom pozíciója a szülő felső részéhez képest */
    right: 0;
    width: 12px; /* A tartalom szélessége teljes szülő szélesség */
    height: 12px;
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
    opacity: 0;
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));

    opacity: calc(1 - (9999 * var(--abs-a)));
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
    z-index: 9;
}
.theme-light [class^="chat_"]:not(:has([class^="callContainer_"])):has([class^="membersWrap_"]) [class^="channelTextArea_"]:after {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages));

}

.theme-dark
    [class^="content_"]:has([class^="profilePanel_"])
    [class^="channelTextArea_"]:after {
    background: rgba(0, 0, 0, var(--var-opacity-inner-messages));
}
.theme-light
    [class^="content_"]:has([class^="profilePanel_"])
    [class^="channelTextArea_"]:after {
    background: rgba(255, 255, 255, var(--var-opacity-inner-messages));
}

[class^="content_"]:has([class^="profilePanel_"]) [class^="channelTextArea_"]:after {
    content: ""; /* Tartalom hozzáadása a :before pseudoelemhez */
    position: absolute; /* Abszolút pozícionálás a szülő elemhez képest */
    top: 0px; /* A tartalom pozíciója a szülő felső részéhez képest */
    right: 0;
    width: 12px; /* A tartalom szélessége teljes szülő szélesség */
    height: 12px;
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    opacity: 0;
    opacity: calc(var(--responsive, 0) * 1 - (9999 * var(--abs-a)));
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        96% 60%,
        89% 43%,
        79% 28%,
        64% 14%,
        47% 7%,
        30% 3%
    );
    z-index: 9;
}
[class^="content_"]:has([class^="profilePanel_"]) [class^="scrollableContainer_"] {
    overflow: visible;
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    width: calc(100% - (6px / 999px * var(--abs-a))) !important;
    z-index: 9;

}
[class^="content_"]:has([class^="profilePanel_"]) [class^="form_"] {
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    border-top-right-radius: calc(10px - (999px * var(--abs-a)));}


[class^="content_"]:has([class^="profilePanel_"]) [class^="channelTextArea_"] {
    --var-a: calc(
        var(--var-opacity-inner-messages) - var(--var-opacity-right-sidebar)
    );
    --abs-a: max(var(--var-a), -1 * var(--var-a));
    border-top-right-radius: calc(9px - (999px * var(--abs-a)));
}

[class^="hasBanner_"] [class^="header_"] {
    background: none!important;
}

[class^="container_"] {
    background: transparent;
}

.theme-dark [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar));
}

.theme-dark [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty) ~ div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty) ::before {
    background: transparent;
}
.theme-light [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar));
}

@media only screen and (max-width: 638px)
{
    [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
        background: rgba(0, 0, 0, var(--var-opacity-inner-messages))!important;
    }

    .theme-dark [class^="privateChannels_"] ~ [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }
    .theme-light [class^="privateChannels_"] ~ [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before {
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
    }

    .theme-dark [class^="sidebar_"]:hover [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before{
    background: rgba(0, 0, 0, var(--var-opacity-left-sidebar)) !important;
    }

    .theme-light [class^="sidebar_"]:hover [class^="panels_"] div:is([class^="container_"], [class^="container_"], [class^="panel_"], #vc-spotify-player, [class^="wrapper_"]):not(:empty)::before{
    background: rgba(255, 255, 255, var(--var-opacity-left-sidebar)) !important;
    }
}



.theme-dark [class^="container_"][class*="isOpen_"] {
    background: rgba(255, 255, 255, 0.05)!important;
    backdrop-filter: saturate(2);
}

[class^="container_"][class*="floating_"] {
    backdrop-filter: blur(40px);
    background: rgba(0, 0, 0, 0.4);
    border-left: none;
    box-shadow:
        -1px 0 0 rgba(0, 0, 0, 0.05),
        -1.5px 0 0 rgba(0, 0, 0, 0.025),
        -2px 0 0 rgba(0, 0, 0, 0.025) !important;    
}

[class^="container_"][class*="floating_"]:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-overlay-app-frame, var(--background-tertiary));
    opacity: 0.3;
    z-index: -1;
    border-radius: 3px;
    filter: saturate(1.6);
}

[class^="container_"][class*="floating_"] [class^="themed_"],
[class^="container_"][class*="floating_"] [class^="scroller_"],
[class^="container_"][class*="floating_"] [class^="scroller_"] {
    background: none!important;
}

.theme-light {
    --interactive-hover: rgba(0,0,0,0.8)
}
.theme-dark {
        --interactive-hover: rgba(255,255,255,0.8)
}

.theme-dark [class^="cursorDefault_"] rect ~ rect,
.theme-dark [mask="url(#svg-mask-status-offline)"] {
    fill: rgba(255, 255, 255, 0.45);
}
.theme-light [aria-label$="Offline"] [class^="cursorDefault_"] mask ~ rect,
.theme-light [mask="url(#svg-mask-status-offline)"] {
    fill: rgba(0, 0, 0, 0.45)
}

.theme-light [class^="muted_"] {
    color: rgba(0, 0, 0, 0.25);
}

.theme-dark [class^="muted_"] {
    color: rgba(0, 0, 0, 0.25);
}

.theme-light [class^="matchingPostsRow_"] {
    background: rgba(0, 0, 0, 0.05);
}
.theme-dark [class^="matchingPostsRow_"] {
    background: rgba(255, 255, 255, 0.05);
}
